<div class="row">
  <div class="col s12 m8">
    <h2 class="header">New Post</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/550/nature/6" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <%= render 'form' %>
        </div>
        <div class="card-action">
          <%= link_to 'Back', posts_path %>
        </div>
      </div>
    </div>
  </div>
</div>
