<ul class="sidenav" id="slide-out">
  <li>
    <div class="user-view">
      <div class="background">
        <%= image_tag "cover.jpg" %>
      </div>
      <a href="#!user">
        <%= image_tag "user.png", class: "circle" %>
      </a>
      <a href="#!name">
        <span class="white-text name">Mohd Khairi</span>
      </a>
      <a href="#!email">
        <span class="white-text email">khairi@labs.my</span>
      </a>
    </div>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">
          Profile
          <i class="material-icons">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a href="#!"> First</a>
            </li>
            <li>
              <a href="#!"> Second</a>
            </li>
            <li>
              <a href="#!"> Third</a>
            </li>
            <li>
              <a href="http://paypal.me/khairiadnan/1" target="_blank"> Donate</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li>
    <a href="/posts">
      <i class="material-icons">cloud</i>
      <span>Posts</span>
    </a>
  </li>
  <li>
    <a href="/components">
      <i class="material-icons">extension</i>
      <span>Component</span>
    </a>
  </li>
  <li>
    <a href="/javascript">
      <i class="material-icons">polymer</i>
      <span>Javascript</span>
    </a>
  </li>
  <li>
    <a href="/forms">
      <i class="material-icons">format_shapes</i>
      <span>Forms</span>
    </a>
  </li>
  <li>
    <a href="/undraw">
      <i class="material-icons">filter_vintage</i>
      <span>unDraw</span>
    </a>
  </li>
  <li>
    <div class="divider">
    </div>
  </li>
  <li>
    <a class="subheader">Give some star on these repo</a>
  </li>
  <li>
    <a class="waves-effect" href="https://github.com/mkhairi/materialize-sass">
      <i class="material-icons">star_rate</i>
      <span>Gems</span>
    </a>
  </li>
  <li>
    <a class="waves-effect" href="https://github.com/mkhairi/materialize-rails">
      <i class="material-icons">code</i>
      <span>Sources</span>
    </a>
  </li>
  <li>
    <a class="dropdown-trigger" data-target="dropdown1" href="#!">
      <span>Dropdown</span>
      <i class="material-icons right">arrow_drop_down</i>
    </a>
    <ul class="dropdown-content" id="dropdown1">
      <li>
        <a href="#!"> First</a>
      </li>
      <li>
        <a href="#!"> Second</a>
      </li>
      <li>
        <a href="#!"> Third</a>
      </li>
      <li>
        <a href="#!"> Fourth</a>
      </li>
    </ul>
  </li>
</ul>
